{{>layout/header}}
  {{>layout/algorithm_side}}

      <div class="col-lg-9">
        <div id="blank"></div>
        <div class="row">

            <div class="col-lg-9 col-md-7 mb-5">
                <form class="diary-container">
                    <div class="form-group">
                        <label for="title">제목</label>
                        <input type="text" class="form-control" id="title" value="{{algorithm.title}}" readonly>
                    </div>
                    <div class="form-group">
                        <label for="date">푼 날짜</label>
                        <input type="date" class="form-control-inline"  value="{{algorithm.solvedDate}}" readonly>
                    </div>
                    <div class="form-group">
                        <div class="select-inline">
                            <label for="source">출처</label>
                            <input type="text" class="form-control-inline"  value="{{algorithm.source}}" readonly>
                        </div>
                        <div class ="select-inline">
                            <label for="algorithm-type">종류 </label>
                            <input type="text" class="form-control-inline"  value="{{algorithm.type}}" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="select-inline">
                            <label for="language">언어</label>
                            <input type="text" class="form-control-inline"  value="{{algorithm.language}}" readonly>
                        </div>
                        <div class="select-inline">
                            <label for="language">난이도</label>
                            <input type="text" class="form-control-inline"  value="{{algorithm.difficulty}}" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="explanation">문제설명</label>
                        <textarea class="form-control" id="explanation" readonly>{{algorithm.explanation}}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="content">코드내용</label>
                        <textarea class="form-control" id="content" readonly>{{algorithm.content}}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="file">코드다운로드</label>
                        <a href="/diary/algorithm/file/{{algorithm.fileId}}" role="button" class="form-control-name">{{algorithm.fileName}}</a>
                    </div>
                </form>
                <a href="/diary/algorithm/cards" role="button" class="btn btn-secondary">취소</a>
                <a href="/diary/algorithm/modification/{{algorithm.id}}" role="button" class="btn btn-secondary">수정</a>
                <button type="button" class="btn btn-secondary" id="btn-delete" value="{{algorithm.id}}">삭제</button>
            </div>

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
  <script type="text/javascript" src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="js/lookup.js?ver=1"></script>

{{>layout/footer}}