{{>layout/header}}

  {{>layout/project_side}}

      <div class="col-lg-9">
        <img src="img/code1.jpg" class="img-fluid rounded">

        <div class="row">

        {{#projectCards}}
          <div class="col-lg-5 col-md-7 mb-5">
            <div class="card h-100">
              <button class="card-header" value="{{date}}"></button>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="/diary/projects/lookup/{{projectId}}">{{shortTitle}}</a>
                </h4>
                <h6>{{projectType}}</h6>
                <p class="card-text">{{shortContent}}</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>
        {{/projectCards}}

        </div>
        <!-- /.row -->

        <div class="footer-button">
          <a href="/diary/projects/registration" role="button" class="btn btn-secondary">글 등록</a>
          <div class="list-inline-item" id="page-number">
          </div>
        </div>
      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
  <script type="text/javascript" src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="js/cards.js?ver=1"></script>

{{>layout/footer}}